<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DreamGuard"
        tools:targetApi="31">
        <activity
            android:name="com.android.dreamguard.ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.android.dreamguard.ui.onboarding.OnboardingActivity" />
        <activity android:name="com.android.dreamguard.ui.auth.LoginActivity" />
        <activity android:name="com.android.dreamguard.ui.auth.RegisterActivity" />
        <activity android:name="com.android.dreamguard.ui.main.MainActivity" />
        <activity android:name="com.android.dreamguard.ui.auth.ForgotPasswordActivity" />
        <activity android:name="com.android.dreamguard.ui.auth.VerificationActivity" />
        <activity android:name="com.android.dreamguard.ui.prediction.ActivityPrediction" />
        <activity android:name="com.android.dreamguard.ui.prediction.ActivityPrediction2" />
        <activity android:name="com.android.dreamguard.ui.prediction.ActivityPrediction3" />
        <activity android:name="com.android.dreamguard.ui.prediction.ActivityPrediction4" />
        <activity android:name="com.android.dreamguard.ui.prediction.ActivityPrediction5" />
        <activity android:name="com.android.dreamguard.ui.prediction.ActivityPrediction6" />
        <activity android:name="com.android.dreamguard.ui.prediction.ActivityPrediction7" />
        <activity android:name="com.android.dreamguard.ui.prediction.ActivityPrediction8" />
        <activity android:name="com.android.dreamguard.ui.prediction.ActivityPrediction9" />
        <activity android:name="com.android.dreamguard.ui.prediction.ActivityAnalyzing" />
        <activity android:name="com.android.dreamguard.ui.prediction.ActivityResultNoSleepDisorder" />
        <activity android:name="com.android.dreamguard.ui.prediction.ActivityResultNoSleepDisorderUnder8" />
        <activity android:name="com.android.dreamguard.ui.prediction.ActivityResultNoSleepDisorderStress" />
        <activity android:name="com.android.dreamguard.ui.prediction.ActivityResultNoSleepDisorderUnderStress" />
        <activity android:name="com.android.dreamguard.ui.prediction.ActivityResultSleepApnea" />
        <activity android:name="com.android.dreamguard.ui.prediction.ActivityResultInsomnia" />
    </application>

</manifest>